@import "https://unpkg.com/open-props";

:root {
  --brand: var(--gray-9);
  --slidev-theme-primary: red;
  --slidev-slide-container-background: var(--brand);
}

.slidev-slide-content {
  background-color: var(--brand) !important;
}


h1, h2, h3, h4, h5, h6 {
  background: var(--gradient-4); /* 22 */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Animation */

.slidev-vclick-target {
  transition: all 500ms var(--ease-elastic-in-1);
  transform: translateX(0);
}

.slidev-vclick-hidden {
  transform: translateX(-100%);
}
